section {
  background: linear-gradient(#1c211a 0%, #0e110d 50%, #190b03 100%);
}

.section-content {
  --gap: 1rem;
}

.projects {
  display: flex;
  flex-direction: row;
  gap: var(--gap);

  flex-wrap: wrap;
}

.project {
  width: calc((100% - var(--gap) * 2 - var(--card-padding) * 6) / 3);
}

.big-project {
  width: calc((100% - var(--gap) - var(--card-padding) * 4) / 2);
}

@media screen and (max-width: 1000px) {
  .projects {
    flex-direction: column;
  }

  .project,
  .big-project {
    width: calc(100% - var(--card-padding) * 2);
  }
}
