.card {
  --card-padding: 1rem;

  display: flex;
  flex-direction: column;

  width: calc(100% - var(--card-padding) * 2);
  gap: 0.5rem;

  padding: var(--card-padding);
  border-bottom: 0.5rem solid var(--element-shadow-color);

  background-clip: card-padding-box;
  background-color: var(--element-bg-color);

  user-select: none;
}
