#container {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;

  --font-size: var(--h1-font-size);
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-size);
}

img {
  aspect-ratio: 1/1;
  height: calc(var(--font-size) * 0.8);
}

.hidden {
  display: none;
}

.flip {
  flex-direction: row-reverse;
  justify-content: left;
}

@media only screen and (max-width: 1000px) {
  #container {
    justify-content: center;
    flex: 1;
  }
}
