:global(body) {
  --p-font-size: 1rem;
  --h1-font-size: 4rem;
  --h2-font-size: 1rem;
  --font-color: rgb(244, 239, 231);
  --website-width: min(100ch, calc(100% - 3rem));

  --element-bg-color: rgba(43, 43, 43, 0.5);
  --element-bg-color-hover: rgba(255, 255, 255, 0.16);
  --element-shadow-color: rgb(43, 43, 43, 0.32);
  --shadow-border-color: rgba(0, 0, 0, 0.25);

  background-color: black;
  color: var(--font-color);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
  font-size: 1rem;
  scrollbar-width: 0; /* Works on newer browsers */
}
/* Works on older Safari and Chromium */
:global(body::-webkit-scrollbar) {
  display: none;
}
:global(section) {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  scroll-snap-align: start;
}
:global(.section-content) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
  width: var(--website-width);
}

:global(h1) {
  font-size: var(--h1-font-size);
}
:global(h2) {
  font-size: var(--h2-font-size);
}
:global(p) {
  font-size: var(--p-font-size);
}
:global(a) {
  all: unset;
  text-decoration: none;
  color: inherit;
  place-self: center;
  cursor: pointer;
  transition: 200ms;
  border-bottom: 1px solid transparent;
}
:global(a:hover),
:global(a:focus) {
  border-bottom: 1px solid var(--font-color);
}
